header{
    height:100vh;
    padding-top:11rem;
    overflow: hidden;
    background-repeat: no-repeat;
}

.header__container {
    font-size:1.3rem;
    text-align: center;
    /*height: 100%;*/
    position: relative;
}

/* ===================== CTA ===================== */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ===================== Name ===================== */



