
.nav__socials{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 0 rem;
}


.nav__socials svg{
    height: 1.1rem;
    width : 1.1rem;
}

/*
.name{
    display: block;
    margin-left:auto;
    margin-right:auto;
    width:41rem;
    height:8rem;
}
*/

.nameIMG{
    width:16rem;
}


.text__container {
    text-align: center;
    height:11%;
    position: relative;
    margin-bottom: 3rem;
}

.about__me{
    margin: auto;
    height: 80%;
    width: 50%;
    margin-bottom: 3rem;
    aspect-ratio: 1/1.5;
    border-radius: 2rem;
    background: linear-gradient(45deg,transparent,var(--color-primary),transparent);
    display: grid;
    place-items: center;
}

.about__cards {
    display: block;
    /*grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;*/
}

.Typewriter__wrapper{
    font-size:0.8rem;
    color:var(--color-light);
}

.hello{
    font-size: 0.8rem;
}

.cta{
    margin-top: 1.5rem;
}

.btn{
    font-size:13px;
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.about__container{
    grid-template-columns: 40% 55%;
    gap: 5%;
}
/*
.about__cards{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}*/
.about__cards{
    display:grid;
    grid-template-columns: 32% 32% 32%;
    gap:2%;
}

.about__card{
   margin-bottom:1.3rem;
   padding: 0.5rem;
   line-height:1rem;
}

.about__card small{
    font-size: 0.6rem;
}

.about__card h5 {
    font-size:0.7rem;
}

.about__content p {
    margin: 0 0 1.7rem;
    font-size:0.7rem;
    padding:1rem;
}

.experience{
   margin-top:7rem;
}

.experience__content{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    row-gap:0.5rem;
}

.experience__container{
    width:90%;
}

.experience__container h3 {
    font-size: 1rem;
}

.experience__container h4 {
    font-size: 0.8rem;
}

.portfolioitem{
    width: 90%;
}
.portfolioitem h3{
    font-size: 21px;
}
.portfolioitem h5{
    font-size: 17px;
}
.portfolioitem p{
    font-size: 11px;
}

.contact__options{
    padding-top:5%;
    display:block;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    gap: 1rem;
    padding-bottom:5%;
}

.contact__option{
    margin-bottom: 1.3rem;
}

.contact__option h5{
    font-size: 13px;
}

.contact__option h4{
    font-size: 15px;
}

.contact{
    padding-bottom: 50%;
}

h4 {
    font-size: 17px;
}

.experience h5 {
    font-size: 15px;
}

.experience h2 {
    font-size: 21px;
}

.text__container h2 {
    font-size: 21px;
}

.text__container h5 {
    font-size: 15px;
}

.portfolio-container  h5{
    font-size: 15px;
}

.portfolio-container h2{
    font-size: 21px;
}

.contact h2 {
    font-size: 21px;
}

.contact h5{
    font-size: 15px;
}