/*

.nav__container {
    padding-top: 3rem;
    text-align: left;
    height: 100%;
    position: relative;
}



/* ===================== Nav Socials ===================== */
/*
.nav__socials{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 0 rem;
}



*/